/*The logo for all apges*/
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Title{
    text-align: center;
    font-size: 35;
}

*{
    font-family: "Inconsolata", monospace;
    color:#464B49;
}
main{
    background-color: #F8FBFA;
    text-size:24px;
}
header{
    background-color:#E6F1EC;
    text-size:25px;
}
h1{
    text-size:35px;
}
h2{
    text-size:28px;
}
